@import url('http://fonts.cdnfonts.com/css/lilly');

body {
  margin: 0;
  min-height: 100vh; /* Allows the body to grow if content overflows */
  width: 100%;
  display: flex;
  flex-direction: column; /* Ensures content stacks vertically */
  justify-content: flex-start; /* Aligns content at the top */
  align-items: center;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
h1{
  font-family: Arial, sans-serif;
  font-size: 50px;
  text-align: center;
}
.input-box {
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: center; /* Optional: Center text inside */
}
.gen input{
  height: 35px;
  width: 250px;
  font-size: 20px;
  padding-left: 5px;
}
button{
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px;
  position: relative;
  height: 38px;
  width: 100px;
  font-size: 18px;
  border: none;
  color: whitesmoke;
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  cursor: pointer;
}
button:active{
  box-shadow: none;
}
.extra {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
}
@media (max-width: 500px) {
  .extra {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center items horizontally */
    gap: 20px; /* Add spacing between items */
  }
}
.extra .color-controls {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds spacing between elements */
}
.extra .size-controls {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds spacing between elements */
}
.extra .upload-logo {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds spacing between elements */
}
.extra .logo-size {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds spacing between elements */
}
.output-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}

